html {
  font-family: "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
}

body {
  width: 100vw;
  margin: 0;
  background: #000;
  color: white;
}

header{
  position: relative;
  display: flex;
}

nav{
  position: absolute;
  width: 100vw;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul li {
	display: inline;
  position: static;
	}

nav ul {
  position: static;
	margin: 0vw;
	padding: 1.8em;
	list-style-type: none;
	}

main {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  }

h1 {
  position: absolute;
  font-size: calc(32 * 100vw/375);
  font-weight: bold;
  top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  }

h2 {
  font-size: calc(24 * 100vw/375);
  position: absolute;
  left: 1em;
  bottom: 1.5em;
}

.blok3,.blok4 h2{
  position: absolute;
  bottom: 0.5em;
}

.blok8,.blok9 h2{
  position: absolute;
  bottom: 0.5em;
}

.h2-button {
  position: absolute;
  bottom: 5em;
}

.h2-only-button {
  position: absolute;
  bottom: 3em;
}

.h2-mini {
  font-size: calc(15 * 100vw/375);
  position: absolute;
  bottom: 1em;
  left: 1em;
}

h3 {
  position: absolute;
  font-size: calc(15 * 100vw/375);
  font-weight: 700;
  line-height: calc(24 * 100vw/375);
  top: 28em;
  margin-left: 2em;
  margin-right: 2em;
  }

ul {
  position: absolute;
  bottom: 8em;
}

p {
  position: absolute;
  font-size: calc(16 * 100vw/375);
  margin-bottom: 0;
  bottom: 2em;
  left: 1.5em;
  }

li {
  margin-left: 2em;
}

a {
  color: rgb(0,228,243);
  text-decoration: none;
}

.eerste {
  margin-left: 3em;
}

.p-button {
  position: absolute;
  bottom: 6em;
}

.bundle {
  position: absolute;
  font-weight: bold;
  color: rgb(0,228,243);
  bottom: 16.5em;
  font-size: calc(12 * 100vw/375);
  left: 12em;
}

.blackfiday-bundle {
  position: absolute;
  font-size: calc(12 * 100vw/375);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.5em;
  color: rgb(0,228,243);
  bottom: 12em;
}

.button-blue {
  position: absolute;
  color: white;
  background: #256eff;
  border-radius: 100vw;
  font-size: calc(16 * 100vw/375);
  font-weight: 700;
  letter-spacing: calc(0.25 * 100vw/375);
  line-height: calc(14 * 100vw/375);
  padding: calc(13 * 100vw/375) calc(46.35 * 100vw/375);
  text-decoration: none;
  bottom: 6em;
  }

.button {
  position: absolute;
  color: #03bffe;
  background: rgba(0, 0, 0, 0);
  border-radius: 100vw;
  border: 2px solid #03bffe;
  font-size: calc(14 * 100vw/375);
  font-weight: 700;
  letter-spacing: calc(0.25 * 100vw/375);
  line-height: calc(14 * 100vw/375);
  padding: calc(13 * 100vw/375) calc(46.35 * 100vw/375);
  text-decoration: none;
  bottom: 2.5em;
  left: 2em;
}

.button-subscribe {
  position: absolute;
  color: #03bffe;
  background: rgba(0, 0, 0, 0);
  border-radius: 100vw;
  border: 2px solid #03bffe;
  font-size: calc(14 * 100vw/375);
  font-weight: 700;
  letter-spacing: calc(0.25 * 100vw/375);
  line-height: calc(14 * 100vw/375);
  padding: calc(13 * 100vw/375) calc(46.35 * 100vw/375);
  text-decoration: none;
  bottom: 6em;
}

.h2-subscribe {
  top: 4em;
  left: 3.2em;
}

.ul-subscribe {
  position: absolute;
  top: 16em;
}

.li-subscribe {
  font-size: calc(17 * 100vw/375);
  font-weight: 500;
  line-height: 3em;
  list-style-type: none;
  text-align: left;
}

main img {
  width: 100vw;
  margin-bottom: 1em;
}

li img {
  position: absolute;
  width: 2.5em;
  left: 0em;
  padding-top: 0.5em;
}

.blok1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blok2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blok3 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok4 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok5 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok6 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok7 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok8 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok9 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok10 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok11 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok12 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.blok13 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blok14 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.blok15 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.blokjes {
  display: flex;
  flex-wrap: wrap;
}

.mini-blok {
  width: 47.5vw;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  left: 0;
  height: 100em;
  background: #333;
}

.section1 {
  display: flex;
  flex-direction: column;
  height: 22.5em;
  border-bottom: 1px solid #666;
}

footer h1 {
  font-size: calc(11 * 100vw/375);
  top: 1em;
}

footer p {
  font-size: calc(11 * 100vw/375);
  top: 3em;
  left: 2em;
  margin-right: 2em;
}

.line2 {
  top: 6em;
}

.line3 {
  top: 10em;
}

.line4 {
  top: 14em;
}

.section2 {
  position: absolute;
  bottom: 34.5em;
  display: flex;
  flex-direction: column;
}

.section2 ul {
  width: 100vw;
  margin-left: -4em;
}

.section2 ul li {
  text-transform: uppercase;
  font-size: 13px;
  list-style-type: none;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  margin-left: 2em;
  border-bottom: 1px solid #666;
  letter-spacing: 1px;
  margin-left: 0em;
}

.section3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 24.4em;
}

form {
  padding-top: 4em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}

#email {
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #fff;
  color: white;
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 1px;
  line-height: normal;
  margin-bottom: 17px;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

#submit {
  background-color: #03bffe;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 44px;
  letter-spacing: 1px;
  line-height: 14px;
  margin-left: 2em;
  margin-right: 2em;
}

.section4 {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 16em;
}

.section4 ul {
  list-style-type: none;
}

.instagram {
  height: 2.5em;
  left: 3em;
}

.facebook {
  height: 2.5em;
  left: 8em;
}

.twitter {
  height: 2.5em;
  left: 13em;
}

.pinterest {
  height: 2.5em;
  left: 17.5em;
}

.youtube {
  height: 2.5em;
  width: 3.5em;
  left: 22.5em;
}

.section5 {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 13em;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 2em;
}

.section5 a {
  color: white;
  padding-top: 0.3em;
}

.locatie {
  height: 2em;
  margin-right: 1em;
}

.wereldbol {
  height: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.section6 {
  width: 100vw;
  position: absolute;
  bottom: 16em;
  color: #a4a5a5;
}
